html, section {
	height: 100%;
}
body {
	background-image: url(../img/bg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	margin: 0;
	position: absolute;
	top: 0;
}
section {
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
	width: 100%;
	color: #FFF;
	text-align: center;
}
h1 {
	padding: 10% 0 3%;
}
textarea {
	width: 40%;
	background-color: transparent;
	color: #FFF;
}
#english {
	width: 40%;
	margin: 0 auto;
	height: 75px;
	overflow: auto
}
#morse {
	width: 40%;
	margin: 0 auto;
	height: 75px;
	overflow: auto
}
::selection {

    background: rgba(255,255,255, 0.4);
    color: #000;
}
::-webkit-scrollbar {
      width: 5px;
}
::-webkit-scrollbar-track-piece {
	background-color: #000;
}
::-webkit-scrollbar-thumb {
	background-color:#fff;
}